*{
    /* border: solid rgb(255, 255, 255) 1px; */
    box-sizing: border-box;
}

body{
    background-color: #004494;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.mother {
    height: 800px;
    padding: 30px 180px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.son-1{
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
    justify-content: space-evenly;
    gap: 50px;
    /* flex-direction: column; */
}

.ne-1{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    gap: 30px;
}

.sub-1{
    font-size: x-large;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;
}

.sub-2{
    flex-grow: 1;
    flex-basis: 0;
}

.sub-3{
    flex-grow: 2;
    flex-basis: 0;
}

.ne-2{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    gap: 30px;
}

.subb-1 .subb-2{
    flex-grow: 1;
    flex-basis: 0;
}

.subb-3{
    flex-grow: 3;
    flex-basis: 0;
}

/* NEPHEW 3 */
.ne-3{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    gap: 30px;
}

.subbb-1{
    flex-grow: 1;
    flex-basis: 0;
}

.subbb-2{
    flex-grow: 5;
    flex-basis: 0;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

.list-2{
    margin: 0;
    padding: 0px;
}

.el-list{
    /* margin-top: 10px; */
    line-height: 30px;
}

.son-3{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.son-5{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: space-evenly;
    gap: 30px;
    align-items: flex-start;
}

.nep-1{
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 0;
}

.nep-2{
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 0;
}

.nep-3{
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 0;
}

.img-social{
    width: 15px;
    
}

hr{
    color: white;
}

.pro-nipote{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}

a{
    flex-grow: 1;
    flex-basis: 0;
}